/* Primary Color: #3d5a80
Secondary Color: #ee6c4d
Light Blue Color: #f0f6ff
Semi-Blue: #98c1d9
Dark Blue: #293241 */
:root{
    --Primary_Color: #3d5a80;
    --Secondary_Color: #ee6c4d;
    --LightBlue_Color: #f0f6ff;
    --Semi-Blue: #98c1d9;
    --DarkBlue: #293241;
    --font-primary: 'Rubik', sans-serif;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}
body{
    font-family: var(font-primary);
    color:var(--Primary_Color);
    font-size: 18px;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{

    margin :10px;
    text-shadow: 0.5px 0.5px 0.5px var(--Primary_Color);
}
/* navigation menue styles */
#navi{
display: flex;
justify-content: center;
align-items: center;
height:110px;
    background-color: var(--DarkBlue);

}
#navi>ul{
   display: flex;
   justify-content: center;
   align-items: center;
 
}
#navi>ul>li{

    margin:5px;
    text-align: center;
    text-decoration: none;
}
#navi ul li a:link{
    /* border: 1px solid #000000; */
    display: block;
    height: 20px;
    width: 110px;
    background-color: var(--color-light-blue);
    padding: 15px 7px;
    text-decoration: none;
    border-radius: 8px;
    color:var(--color-primary);
}
#navi ul li a:visited{
    /* border: 1px solid #000000; */
    display: block;
    height: 20px;
    width: 110px;
    background-color: var(--color-light-blue);
    padding: 15px 7px;
    text-decoration: none;
    color:var(--color-primary);
}
#navi ul li a:hover{
    /* border: 1px solid #000000; */
    display: block;
    height: 20px;
    width: 110px;
    background-color: var(--color-primary);
    color:var(--color-secondary);
    padding: 15px 7px;
    text-decoration: none;
}
#navi ul li a:active{
    /* border: 1px solid #000000; */
    display: block;
    height: 20px;
    width: 110px;
    padding: 15px 7px;
    background-color: var(--color-primary);
    color:var(--color-secondary);
    text-decoration: none;
    
}
/* coontainer styes */
.container{
display:flex;
width:80%;
margin: auto;
flex-direction: column;
padding: 10px;

}
.center{
    margin: auto;

}
.container_fluid{
    display:flex;
    width: 100%;
    margin: auto;
  

}
/* logo styles */
.logo{

    min-height:180px;
    justify-content: center;
    align-items: center;
}
.logo>img{
width: 120px;
height:120px;
    border-radius: 50%;
}
.spacer{
    width: 20px;
height:20px;
}
#about{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: stretch;

    height:60%;
    background-color: var(--LightBlue_Color);
}
#about  img{
   width:250px;
   height:200px; 
}
.about-section-column {
  
    flex-basis: 50%;
    padding: 50px;
}
.readmore{


}
#skills{
    flex-direction: column;
  

    text-align: center;
}
#skills .skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#projects{
    background-color: var(--DarkBlue);
    flex-direction: column;
    justify-content: center;
   
    text-align: center;
   
}
.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.projects-container img {
    max-width: 80%;
    max-height: 350px;
    margin: 10px;
}
#contacts form {
 
    align-self: center;
    width: 50%;
}
#contacts form > input {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding: 1%;
    margin: 1%;
    width: 98%;
}
/* Start of Copurights section */
.copyrights {
    text-align: center;
}
/* End of Copurights section */

/* Start of Footer Section Styles */
.footer-section {
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: var(--DarkBlue);
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}
.footer-container > div {
 flex-basis: 25%;
}
.footer-container img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.footer-container h4{
    color: var(--color-secondary);
}
.footer-container i{
    font-size: 18px;
    margin: 3px;
}
/* End of Footer Section Styles */

/* Start of Copurights section */
.copyrights {
    text-align: center;
}
/* End of Copurights section */
